@font-face{
    font-family: Open Sans Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face{
    font-family: Open Sans Semibold;
    src: url(../fonts/OpenSans-Semibold.ttf);
}
@font-face{
    font-family: Open Sans Bold;
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face{
    font-family: Open Sans Italic;
    src: url(../fonts/OpenSans-Italic.ttf);
}
@font-face{
    font-family: Open Sans ExtraBold;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
}

*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;

}
/* Header */
#bannerTop{
    padding: 0;
    margin: 0;
    background-image: url("../images/bg-top.jpg");
}

    #bannerTop p{
        font-family: Open Sans Regular;
        font-size: 13px;
        color: white;
        margin: 0;
        padding: 13px 0px;
    }
    #bannerTop .icon{
        float: right;
        margin: auto;
    }
    #bannerTop .icon a{
        text-decoration: none;
        color: #83dc36;
        
    }
    #bannerTop .icon i{
        font-size: x-large;
        margin-right: 10px;
        
    }
    #banner .logo img{
        width: 100px;
        height: 100px;
        margin-left: 20%;
    }
#banner .breadcrumb{
    margin-top: 20px;
    display: block;
    background-color: white;
    overflow: hidden;
    font-size: 20px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
    #banner .breadcrumb li{
        display: inline-block;
        overflow: hidden;
    }
    #banner .breadcrumb a{
        text-decoration: none;
        padding-right: 10px;
    }
    #banner .breadcrumb span{
        padding-right: 10px;
        display: inline-block;
        color: gray;
    }
    #banner .search-box{
        margin-top: 30px;
        border-radius: 10px;
    }
    #banner .search-box input{
        border-radius: 30px 0 0 30px;
        border-color: #83dc36;
        border-width: 2px;
    }
    #banner .search-box button{
        background-color: #83dc36;
        border-radius: 0 30px 30px 0 ;
    }
    #banner .group-box{
        margin-top: 23px;
        text-align: right;
    }
    #banner .group-box a{
        text-decoration: none;
        color: black;
        font-size: xx-large;
        margin: 20px;
    }
/* Highlight */
#highlight{
    /* height: 100px; */
    margin-top: 10px;
}
    #highlight .left-highlight{
        padding: 0;
    }
    #highlight .right-highlight{
        padding: 0;
        border-left: solid 2px black;
    }
    #highlight .left-highlight img{
        width: 100%;
        float: right;
    }
    #highlight .right-highlight img{
        width: 100%;
    }
/* Back to top */
.back-to-top {
  top: auto !important;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #f72b3f;
  border-radius: 100%;
  bottom: -38px;
  cursor: pointer;
  height: 50px;
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  position: fixed;
  line-height: 25px;
  right: 12px;
  -webkit-transition: all .6s ease;
  transition: all .3s ease;
  transition: all .6s ease;
  visibility: hidden;
  width: 50px;
  z-index: 9999; }
  .back-to-top.show {
    bottom: 100px;
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    visibility: visible;
    background: #f72b3f; }
  .back-to-top:hover {
    border-color: #f72b3f;
    color: #ffffff;
    background: #f72b3f; }
/* Category */
#category{
    margin-top: 10px;
    position: relative;
    
}
#category .left-420-filter-panel{
    border-right: 1px groove red;
    margin-left: 22px;
    padding-right: 10px;

}
#category .n420-filter-search-status_text{
    font-weight: bolder;
}
#category .n420-filter-group-header{
    margin-bottom: 10px;
}
#category .n420-checkbox_label{
    margin-left: 20px;
}
#category .n420-filter-button{
    margin-left: -15px;
}
#category .n420-filter-button-submit{
    margin-right: 10px;
    padding: 5px 20px 5px 20px;
    text-transform: uppercase;
    background-color: orangered;
    color: whitesmoke;
    border: 1px solid orangered;
    border-radius: 4px;
}
#category .n420-filter-button :hover{
    background-color: whitesmoke;
    color: orangered;
}
#category .n420-filter-button-reset{
    padding: 5px 20px 5px 20px;
    text-transform: uppercase;
    background-color: orangered;
    color: whitesmoke;
    border: none;
    border: 1px solid orangered;
    border-radius: 4px;
}
#category .left-category img{
    width: 300px;
    height: 300px;
    float: right;
}
#category .right-category img{
    width: 300px;
    height: 300px;
}
#category .bodyContainer{
    margin: 5px 5px 5px 10px;
}
#category .n420-product-title{
    margin: 0px auto 5px 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#category .n420-product-box{
    display: inline-block;
    margin: 5px 5px 50px 18px;
    text-align: center;
}
#category .n420-product-image{
    height: 400px; width: 400px;
}
#category a{
    text-decoration: none;
    color: black;
    text-align: left;
}
#category .n420-product-name-price span{
    float: right;
}
#titleContainer{
    margin: 5px 5px 5px 5px;
}
#btnHideFilter{
    float: right;
}
#btnHideFilter .btn{
    color: black;
    border: 1px solid black;
    background-color: white;
}
#btnDropdown{
    float: right;
    margin: 0px 20px 0px 10px;
}
#btnDropdown .btn{
    color:black;
    background-color: white;
    border: 1px solid black;
}
#btnDropdown a{
    color: black;
}
#btnDropdown .dropdown-menu :hover{
    background-color: grey;
    color: black;
}
/* Footer */
footer{
    background-color: #323232;
    margin-top: 10px;
}
    footer .infor{
        margin-top: 5px;
        padding: 0;
    }
    footer .infor .p-title{
        text-transform: uppercase;
        font-family: Open Sans ExtraBold;
        font-size: 18px;
        color: white;
    }
    footer .infor table{
        font-family: Open Sans Regular;
        font-size: 14px;
        color: white;
    }
    footer .infor table td{
        vertical-align: top;
    }
    footer .infor ul li a{
        text-decoration: none;
        font-family: Open Sans Regular;
        font-size: 14px;
        color: white;
    }
    footer .infor ul li{
        font-family: Open Sans Regular;
        font-size: 14px;
        color: white;
    }
    footer .infor p{
        font-family: Open Sans Regular;
        font-size: 14px;
        color: white;
    }
    footer .bg-image{
        background-image: url('../images/bg-footer.jpg');
        height: 54px;
        margin-top: 10px;
    }
    footer .copyright{
        background: #111111;
        /* height: 40px; */
    }
    footer .copyright p{
        font-family: Open Sans Italic;
        font-size: 14px;
        color: white;
        margin-top: 10px;
    }

