<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
	document.querySelector('.formDel').addEventListener('submit', function (e) {
		var form = this;

		e.preventDefault(); // <--- prevent form from submitting

		swal({
			title: "Are you sure?",
			text: "You won't be able to revert this!",
			icon: "warning",
			buttons: [
				'Cancel',
				'Yes, I am sure'
			],
			dangerMode: true,
		}).then(function (isConfirm) {
			if (isConfirm) {
				swal({
					title: 'Deleted!',
					text: 'This item has been deleted!',
					icon: 'success'
				}).then(function () {
					form.submit(); // <--- submit form programmatically
				});
			} else {
				swal("Cancelled", "This item is safe now", "error");
			}
		})
	});
</script>
